* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

#App {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}